.platform-expanded-info {
  display: flex !important;
  flex-wrap: wrap !important;

  &__img {
    height: auto !important;
    min-width: 200px !important;
    max-width: 380px !important;
    margin-right: 30px !important;
    flex: 1 1 !important;
  }

  &__list {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    flex: 1.4 1 !important;
    background: none !important;
    padding-bottom: 0 !important;

    .v-subheader {
      display: block;
      color: $secondary !important;
      padding: 0;
      height: auto;
      margin-bottom: 18px;
    }

    .v-list-item {
      flex: 0 0 auto !important;
      background: $light;
      border-bottom: 1px solid $midDark;

      &__title {
        font-size: 10px;
        font-weight: 600;
        margin-bottom: 5px !important;
        color: $secondary;
      }
    }
  }
}

.container-expanded-info {
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 100%;


  &__head {
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    align-items: center;
    margin-bottom: 18px;

    .v-subheader {
      display: block;
      color: $secondary !important;
      padding: 0;
      height: auto;
    }
  }

  &__pagination {
    .v-chip {
      height: 22px !important;

      &__content {
        font-size: 12px !important;
      }
    }

    .v-btn {
      height: 22px !important;

      &__content {
        font-size: 10px !important;
      }
    }
  }


  &__wrap {
    display: flex !important;
    flex-wrap: nowrap !important;
    background: $light !important;
    flex: 1 1 auto !important;

    .qrcode {
      padding: 10px 20px;

      &__item {
        text-align: inherit;
      }
      &__front-block {
        margin-bottom: 8px;
      }
      &__back-block {}
      &__text {
        font-size: 10px !important;
        font-weight: 500 !important;
      }
    }
  }

  &__content {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    justify-content: start !important;
    align-items: flex-start !important;
  }

  &__img {
    height: auto !important;
    min-width: 200px !important;
    max-width: 260px !important;
    margin-right: 30px !important;
    flex: 1 1 !important;
  }

  &__list {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    flex: 1.4 1 !important;
    background: none !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .v-list-item {
      flex: 0 0 auto !important;
      background: $light;
      border-bottom: 1px solid $midDark;

      &__title {
        font-size: 10px;
        font-weight: 600;
        margin-bottom: 5px !important;
        color: $secondary;
      }
    }
  }
}
