.theme--light.v-application {
  background-color: $secondaryLightest !important;

  .successLight {
    color: $success;
  }
  .warningLight {
    color: $warning;
  }
  .errorLight {
    color: $error;
  }
}
