.theme--light {
  &.v-tabs {
    flex: 0 1 auto !important;
    & > .v-slide-group {
      background-color: #ffffff00 !important;
      .v-tab {
        font-size: 0.65rem !important;
        font-weight: 600 !important;
      }
    }
  }
  &.v-tabs-items {
    width: 100%;
    background-color: #ffffff00 !important;
  }
}
